body{
    margin: 0px;
    font-family: 'Bona Nova', serif;
}
h1{
    font-size: 70px;

}
.or{
    color: rgb(255, 13, 4);
}

.w{color:rgb(21, 1, 26);size: 20px; size: 100px;}
h2{size:50px;}
.flex{display: flex;margin-bottom: 200px;}

.half-width{width: 50%; padding-left: 2%;}

.half-width img{width:70%;}


.half-width{color: rgb(0, 150, 250);}

       .B{color: rgb(245, 245, 248); text-align: center; padding: 12px;
        text-decoration: none; border-radius: 5px;  
        background-color: rgb(102, 168, 3); font-weight: 520;
        background-image: linear-gradient(rgb(0, 68, 255), rgb(99, 26, 184));
        scroll-padding:tomato ;  scroll-padding-bottom: 5px; position: relative;top: 50px;;
    }
    .Top-bannar{ background-image: url(images/top-banner.png); background-repeat:no-repeat ;}
    
    .i{width: 50%; padding-left: 2%;}
    .B1{color: rgb(245, 245, 248); text-align: center; padding: 12px;
        text-decoration: none; border-radius: 5px;  
        background-color: rgb(102, 168, 3); font-weight: 520;
        background-image: linear-gradient(rgb(255, 0, 0), rgb(99, 26, 184));
        scroll-padding:tomato ;  scroll-padding-bottom: 5px; position: relative;top: 50px;}
    .the-undead{background-image: url(images/dream-bg.png);background-repeat: no-repeat;background-position: right;position: static;}

    .orange{color: orange;}
    .boxshaddo{
        box-shadow:10px 10px 40px grey;
        width: 50%;
        margin-left:4%;
        margin-right:4%; 
        padding-left: 20px;
        border-radius: 3px;
      
    }
    .experience-area{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    #border1{
        border-left: 7px solid;
        border-image:linear-gradient(blue, cyan) ;
        border-image-slice: 1;
    }
    #border2{ border-left: 7px solid;
        border-image:linear-gradient(rgb(147, 255, 6), rgb(238, 223, 16)) ;
        border-image-slice: 1;
}
    footer p {
        text-align:center;
    }
    